:root{
    --background-color:#f9f7fe;
    --primary-font-family:"Playfair Display", serif;
    --default-font-family:"Poppins", sans-serif;
}

body{
    font-family: var(--default-font-family);
}

.top-section{
    background-color: var(--background-color);
    text-align: center;
    padding: 160px 20px;
}
h1, h2, h3, h4, h5, h6{
    color: black;
    font-family: var(--primary-font-family);
    font-weight: bold;
}
h1{
    font-size: 96px;
    line-height: 1.5;
}

.content-description h1{
    font-size: 64px;
    line-height: 80px;
}
.content-description, p{
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content-description{
    padding: 120px 60px;
}

p{
    font-weight: normal;
    font-size: 18px;
    font-family: var(--default-font-family);
    line-height: 30px;
}

.top-section p{
    font-size: 36px;
    font-weight: bold;
       
}
.top-section h2{
    font-size: 24px;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
}

.container-section{
    padding: 120px 60px;
}
.connect-section{
    background-color: var(--background-color);
}
.content{
    margin: 30px;
}
.content h3{
    font-size: 24px;
    font-family: var(--default-font-family) ;
    line-height: 2;
}
.content p{
    font-size: 14px;
}

@media (max-width: 900px) {
   h1{
    font-size: 44px;
    line-height: 2;
   }
   h2{
    font-size: 43px;
   }
   .top-section{
    padding: 80px 30px;
   }
   .content-description{
    text-align: center;
    padding: 0;
   }
   
    .container-section{
        padding: 0;
        text-align: center;
    }
    
}